@model VSFlyMVCClient.Models.Statistics.DestinationAvgSalePrice

@{
    ViewData["Title"] = "Destination average sale price";
}

<h1>Destination average sale price</h1>

<form asp-action="DestinationAvgSalePrice" class="form-inline">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Destination" class="control-label"></label>
        <select style="margin-left: 0.5em;" asp-for="Destination" asp-items="Model.DestinationsListAsync().Result"></select>
        <span asp-validation-for="Destination" class="text-danger"></span>
        <input style="margin-left: 0.5em;" type="submit" value="Go!" class="btn btn-primary" />
    </div>
</form>

@if (Model.Destination == "notFound")
{
    <br />
    <div>No data with this destination 😕</div>
}
else if (!String.IsNullOrEmpty(Model.Destination))
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Destination
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Destination)
            </dd>
            <dt class="col-sm-4">
                Average sale price
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.AvgSalePrice)
            </dd>
        </dl>
    </div>
}
else
{
    <br />
    <div>Please pick a destination</div>
}

<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
